/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.datasheet-container {
	border-color: var(--table-border-color);
	border-width: var(--table-border-width);
	border-style: solid;
	border-radius: 11px;
	width: var(--table-width);
	padding: 0;
	overflow: hidden;
	display: inline-block;
}

.datasheet-table {
	margin: 0 !important;
}

.datasheet-value {
    font-family: var(--font-monospace); 
}

.datasheet-key {
	color: var(--text-muted) !important;
	font-size: var(--font-smaller) !important;
	font-weight: var(--table-header-weight) !important;
}

.datasheet-table td, .datasheet-table th {
	padding: 8pt !important;
	border: none;
}

